---
import { siteInfo } from '../data/site';
---

<p class="contact-actions">
  <a href={siteInfo.phoneHref}>Call {siteInfo.phoneDisplay}</a>
  <a href={siteInfo.emailHref}>Email {siteInfo.emailDisplay}</a>
</p>
